
<table class="table table-striped table-bordered" ng-if="fidCtrl.items.length">
  <thead>
    <tr>
      <th>Short Name</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in fidCtrl.items">
       <td>{{item.name}} </td>
       <td> {{item.short_name}}  </td>
       <td>{{item.description}} </td>
       <td> <button type="button" name="button" ng-click="fidCtrl.removeItem({ index : $index });">Don't want this one!</button></td>
   </tr>
  </tbody>
</table>
<div ng-transclude ng-if="!fidCtrl.items.length"></div>
